body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
}

#wrapper {
  width:3000;
  border: 1px solid black;
  overflow: hidden;
}

#game {
  margin: 10px ;
  padding: 0;
  width: 2200;
  height: 1800;
  float: left;
}

#ui {
  border: 1px dashed black;
  padding: 5px;
  overflow: hidden;
}
